* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family:  Arial, sans-serif;
    font-size: 1rem;
}

.container {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
}

.services {
    display: flex;
    gap: 20px;
}

.navbarBtns {
    display: flex;
    gap: 20px;
}

.loginXirfadle {
    padding: 15px;
    border: 2px solid blue;
    color: blue;
    border-radius: 10px;
    font-weight: bold;
}

.logo {
    width: 150px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    height: 90vh;
    background-image: url("../assets/images/hero-image.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContent {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.searchBox {
    width: 600px;
    height: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
}

.bannerText {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.searchBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchInputText {
    padding: 10px 60px;
    outline: none;
    border: none;
    font-size: 14px;
}

.searchBtn {
    padding: 20px 40px;
    background-color: orangered;
    color: white;
    border-radius: 35px;
}